.headingh{
    font-size: 2rem;
    font-weight: 600;
}
.table{
    display: flex;
    list-style: none;
    
}
.table li{
    margin-left: 70px;
    width: 70px;

}
.Product{
    display: flex;
    
}
.box{
    height: 100vh;
    background-image: url("../Media/Banner4.jpg");
background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}