.Register{
    padding: 20px;
    width: 35vw;
    min-width: 30vw;
    height: 70vh;
    min-height: 32vh;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 60px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(255,255,255,.5);

}
.Logo_register{
    border-radius: 50%;
}

.Register div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bo{
    border: 1px solid black;
    height: 90vh;
    background-image: url("../Media/Banner3.png");
background-position: center;
background-size: cover;

}
@media screen and (max-width:660px) {
    .Register{
        width: 70%;
        margin: 20% auto;
        padding: 40px;
    }
    .bo{
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: center; */
    }
}